/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #0E0E0E;
    color: #FFFFFF;
}

:root{
    --primary: #0E0E0E;
    --secondary: #1C1C1C;
    --radius: 10px;
    --blue: #5A2E96;
}
